<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="30">
    <Properties>
        <Property name="filename">logs/sample-webapp.log</Property>
        <Property name="LOG_PATTERN">[%d{ISO8601}] %r %-5p [%t] %c - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.playground.samplewebapp" level="info" />

        <Logger name="com.playground.samplewebapp.service" level="debug" />

        <Logger name="com.playground.samplewebapp.repository" level="debug" />

        <Logger name="org.springframework.data" level="warn" />

        <Logger name="org.springframework.web" level="warn" />

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>